:root {
    font-family: 'Roboto', sans-serif;
    color: black;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#mainContainer {
    width: 100%;
    height: 100vh;
}

#headerContainer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 13%;
    position: relative;
    top: 1.9rem;
}

a {
    text-decoration: none;
    color: black;
    height: max-content;
    position: sticky;
    top: 2.7rem;
}

#mainContent {
    background-color: rgb(218,218,218);
    width: 100%;
    height: 90%;   
}

#newBook {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.5rem;
}

.div {
    background-color: black;
    width: 70%;
    height: 59vh;
}

#newBook {
    background: transparent;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}


#booksDisplay {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    left: 12%;
}


.blueTable {
    position: relative;
    left: -10%;
    width: 44%; 
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif; 
    background-color: transparent; 
}

.blueTable th, .blueTable td {
    border: 1px solid #666; 
    padding: 8px 12px; 
    text-align: left; 
}

.blueTable thead th {
    background-color: #2C3E50;
    color: #FFF; 
}

.blueTable tfoot td {
    padding: 4px 12px;
}

.blueTable tbody tr:hover {
    background-color: rgba(44, 62, 80, 0.1); 
}


<<<<<<< HEAD
.readStatus {
    background-color: red;
}

.removeBook {
    background-color: yellow;
}

.read {
    background-color: green; /* ou qualquer outra propriedade de estilo que você queira definir */
    color: white; /* isso muda a cor do texto no botão */
}
=======
.notRead {
    background-color: red;
    color: white;
    width: 6rem;
    padding: .2rem;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
    left: 2rem;
}
    
    .read {
        background-color: green;
        color: white;
        width: 6rem;
        padding: .2rem;
        border: none;
        display: flex;
        justify-content: center;
        position: relative;
        left: 2rem;
    }
>>>>>>> origin/main
